.not-logged-card {
    max-width: 300px;
    max-height: 200px;
}

.example-card-footer {
    padding: 16px;
}

.login-btn{
    background-color: #5EDBAF;
    color: black;
    margin: 5px;
}

.cancel-btn{
    background-color: red;
    color: black;
    margin: 5px;
}