.login-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #3f51b5;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
  