<mat-card class="login-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="addLogin(loginForm.value)">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card>
  
