:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-right-align {
    text-align: right;
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
input.example-right-align {
    -moz-appearance: textfield;
}

.forms-edit{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45vh;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}