<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  
  <a class="title" routerLink="/home">WebSales</a>

  <button *ngIf="showButtons" mat-button routerLink="/products" class="nav-link-first">Produtos</button>
  <button *ngIf="showButtons" mat-button (click)="handleNavigation('/orders')" class="nav-link">Pedidos</button>

  <span class="spacer"></span>

  <button mat-icon-button (click)="handleNavigation('/shopping-cart', 1)" aria-label="Shopping cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/user">Informações de Usuario</button>
    <button *ngIf="!logged" mat-menu-item routerLink="/login">Login</button>
    <button *ngIf="logged"mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over" [class.sidenav-opened]="drawer.opened">
    <mat-nav-list class="action-list-sidbar">

      <a mat-list-item routerLink="/products">Produtos</a>
      <br>
      <br>
      <a mat-list-item routerLink="/orders">Pedidos</a>
      <br>
      <br>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.overlay]="drawer.opened" class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
