<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  
  <a class="title" routerLink="/home">WebSales</a>

  <button *ngIf="showButtons" mat-button routerLink="/products" class="nav-link-first">Produtos</button>
  <button *ngIf="showButtons" mat-button routerLink="/orders" class="nav-link">Pedidos</button>
  <button *ngIf="showButtons" mat-button routerLink="/login" class="nav-link">Login</button>
  <button *ngIf="showButtons" mat-button routerLink="/logout" class="nav-link">Logout</button>

  <span class="spacer"></span>

  <button mat-icon-button [routerLink]="['/shopping-cart', 1]" aria-label="Shopping cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button routerLink="/user" aria-label="User profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over" [class.sidenav-opened]="drawer.opened">
    <mat-nav-list class="action-list-sidbar">

      <a mat-list-item routerLink="/products">Produtos</a>
      <br>
      <br>
      <a mat-list-item routerLink="/orders">Pedidos</a>
      <br>
      <br>
      <a mat-list-item routerLink="/login">Login</a>
      <br>
      <br>
      <a mat-list-item routerLink="/logout">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.overlay]="drawer.opened" class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
