
.sidenav-container {
    height: 100vh;
}

.sidenav{
    padding: 0px 0px 0px 20px;
    width: 20vh;
    border-radius: 0px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de sobreposição escura com transparência */
}

.title {
    font-weight: bold;
    margin-left: 8px;
    text-decoration: none;
    color: #201a1b
}

.spacer {
    flex: 1 1 auto;
}

.nav-link {
    margin-left: 5px;
}

.nav-link-first{
    margin-left: 10px;
}

mat-nav-list {
    width: 250px;
}

.content{
    padding-left: 20px;
    overflow: hidden;
}