.delete-title{
    font-size: x-large;
    font-weight: 400;
}

.product-card{
    margin-bottom: 10px;
    width: 90vw;
}

.delete-button{
    background-color: #FF0000;
    color: white;
}

.action-buttons{
    margin-right: 10px;
}