
<div>
    <p class="title">Catalogo de Produtos</p>
    <button mat-flat-button *ngIf="isAdmin" class="create-button" routerLink='/product-create' selected>Novo Produto</button>
</div>

<div class="filter-input">
  <mat-form-field class="search-input" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="searchInput" [disabled]="valueInput != null || typeValueInput != '' || priceCriteriaInput != ''">
  </mat-form-field>

  <mat-form-field class="value-input" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" [(ngModel)]="valueInput" [disabled]="searchInput != '' || typeValueInput != ''">
    <span matTextPrefix="">R$&nbsp;</span>
  </mat-form-field>

  <mat-form-field class="typeValue-input" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="priceCriteriaInput" [disabled]="searchInput != '' || typeValueInput != ''">
      <mat-option value="less"><</mat-option>
      <mat-option value="equal">=</mat-option>
      <mat-option value="greater">></mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="typeValue-input" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="typeValueInput" [disabled]="searchInput != '' || valueInput != null || priceCriteriaInput != ''">
      <mat-option value="un">Uni</mat-option>
      <mat-option value="kg">Kg</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button class="search-btn" (click)="getProductsFiltered()">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-flat-button class="clear-btn" (click)="clearAllSearch()">
    <mat-icon>backspace</mat-icon>
  </button>
</div>

<div class="prod-list" [ngStyle]="{'height': isAdmin ? '67%' : '73%'}">
  <mat-card *ngFor="let prod of products" class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="prod-number">{{ prod.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image ngSrc="/coca_cola.png" width="170" height="170" alt="Photo of a Coke" class="order-product-image">
    <mat-card-content>
      <p class="prod-description">{{prod.description}}</p>
      <p class="prod-price">R$ {{ prod.value| number: '1.2-2' }} - {{ typeValue.get(prod.typeValue) }}</p>
      <div class="order-div-status-prod">
        <button mat-flat-button class="add_shopping_cart" (click)="addToShoppingCart(prod.productId)"> 
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-flat-button *ngIf="isAdmin" class="edit-button" [routerLink]="['/product-edit', prod.productId]">
          <mat-icon style="margin-right: -6px;">edit</mat-icon>
        </button>
        <button mat-flat-button *ngIf="isAdmin" color="warn" class="delete-btn" [routerLink]="['/product-delete', prod.productId]">
          <mat-icon style="margin-right: -6px;">delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>
