.user-page {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    height: 100%;
    --user-page-display-justify-content: space-around;
  }

mat-card.user-page{
  max-height: 87vh; // Define a altura máxima do card, ajuste conforme necessário
  overflow-y: auto; // Permite rolar o conteúdo dentro do card
  padding: 1em; // Espaçamento interno para melhor visualização
  box-sizing: border-box; // Garante que o padding não aumente a altura total
}

  .user-avatar {
    /*background-image: url('caminho/para/avatar.jpg');
    background-size: cover;*/
  }
  .order-table {
    width: 100%;
  }
  .divider{
    margin-top: 20px;
  }
  .user-info{
    padding-right: 5px;
  }

::ng-deep .mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: var(--user-page-display-justify-content) !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1280px){
  .user-page {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    overflow: auto;
    --user-page-display-justify-content: flex-start;
  }
}

.orders-title{
  font-weight: 500;
  font-size: x-large;
}

.order-mat-content {
  padding: 10px 16px !important;
}

.example-card {
  width: 270px;
  height: 400px;
  display: flex;
  margin-top: 10px;
  
  margin-right: 10px;
}

.order-product-image{
  padding-left: 12px;
}

.order-card-list{
  width: 100%;
}

.order-div-status-prod {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 5px;
}

.order-products-button {
  position: absolute;
  top: -3px;
  left: 152px;
  height: 34px;
  padding: 15px;
  background-color: #A3D0E8;
}


.carousel {
  overflow: hidden;
  width: 100%;
}
.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}
mat-card {
  min-width: 270px; /* Ajuste conforme o necessário */
}