<mat-card class="user-page">
    <!-- Cabeçalho do Usuário -->
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <mat-card-title>{{ user?.name }}</mat-card-title>
      <mat-card-subtitle>{{ roles.get(user?.role!) }}</mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/user-edit', user?.userId]">Editar</button>
        <button mat-menu-item [routerLink]="['/user-delete', user?.userId]">Deletar</button>
      </mat-menu>
    </mat-card-header>
  
    <!-- Informações Pessoais -->
    <mat-card-content>
      <mat-grid-list [cols]="gridCols" [rowHeight]="gridRowHeight" class="mat-grid-list">
        <mat-grid-tile>
          <p class="user-info"><strong>Email:</strong> <br> {{ user?.email }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p class="user-info"><strong>CPF:</strong> <br> {{ user?.cpf }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p class="user-info"><strong>Data de Nascimento:</strong> <br> {{ user?.dateBirth | date }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p class="user-info"><strong>Pontos Acumulados:</strong> <br> {{ user?.points }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p class="user-info"><strong>Afiliado a Empresa:</strong> <br> {{ affiliates.get(user?.affiliateId!) || 'N/A' }}</p>
        </mat-grid-tile>
      </mat-grid-list>
    
  
    <!-- Últimos Pedidos -->
  <mat-divider></mat-divider>

    <div class="carousel">
      <div class="carousel-container" [style.transform]="getTransform()">
          <mat-card *ngFor="let order of orders" class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="order-number">Order number: {{ order.orderId }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image ngSrc="/coca_cola.png" width="245" height="245" alt="Photo of a Coke" class="order-product-image">
            <mat-card-content>
              <p>Total Value: {{ order.totalValue | brlPipe}}</p>
              <p>Date: {{ order.orderDate }}</p>
              <div class="order-div-status-prod">
                <p>Status: {{ status.get(order.orderStatus) }}</p>
                <button mat-fab extended class="order-products-button" (click)="openDialog(order.orderId)"> Produtos </button>
              </div>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
    <button mat-button (click)="previous()" [disabled]="!(currentIndex != 0)">Anterior</button>
    <button mat-button (click)="next()" [disabled]="((currentIndex + 1) >= (orders?.length! / 4))">Próximo</button>
    
    <!-- Outras Ações e Configurações -->
    <mat-divider class="divider"></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="goToAccountSettings()">Configurações da Conta</button>
      <button mat-button (click)="viewWishlist()">Minha Lista de Desejos</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
  
